body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(
        orange 15%,
        orange 15%,
        yellow 85%,
        yellow 85%
    );
}

table {
    margin-top: 130px;
    width: 500px;
}

div {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    text-align: center;
}